<%- include("partials/header") -%>
<section class="section__drug-list">
    <%let mg_kg = true, mg_kgN = true;%>
    <%let animal = data.animal%>
    <% for ( each in data.drugs) { %>
    <%let minAmount = data.drugs[each]["Label"] ? Number(data.drugs[each]["Label"]["dosage"][0]) : 0%>
    <%let maxAmount = data.drugs[each]["Label"] ? Number(data.drugs[each]["Label"]["dosage"][1]) : 0%>
    <%let average = (minAmount + maxAmount)/2%>
    <%let sameAmount = minAmount === maxAmount ? minAmount : 0%>
    <%let isLabeled = data.drugs[each]["Label"] ? true : false %>
    <% if (isLabeled) { %>
      <% mg_kgN = (typeof data.drugs[each]["Label"]["units_kg"] !== 'undefined') ? false : true %>
    <% } %>
    <%let minAmountN = data.drugs[each]["NLabel"] ? Number(data.drugs[each]["NLabel"]["dosage"][0]) : 0%>
    <%let maxAmountN = data.drugs[each]["NLabel"] ? Number(data.drugs[each]["NLabel"]["dosage"][1]) : 0%>
    <%let averageN = (minAmountN + maxAmountN)/2%>
    <%let sameAmountN = minAmountN === maxAmountN ? minAmountN : 0%>
    <%let isNLabeled = data.drugs[each]["NLabel"] ? true : false %>
    <% if (isNLabeled) { %>
      <% mg_kgN = (typeof data.drugs[each]["NLabel"]["units_kg"] !== 'undefined') ? false : true %>
    <% } %>

    <%let weight = Number(data.weight)%>
    <%let dosage = sameAmount ? Math.round(weight * sameAmount * 10)/10 : Math.round(average * weight * 10)/10%>
    <%let dosageN = sameAmountN ? Math.round(weight * sameAmountN * 10)/10 : Math.round(averageN * weight * 10)/10%>

    <div class="drug__box">
      <div class="row row__drug row__top">
        <div class="col-1-of-3__drug col-1-of-3__drug--one col-1-of-3__drug--one-top">
          <span class="drug__box--primary"><%=each%></span><br>
          <span class="drug__box--secondary">
            <span class="text-bold"><%=isLabeled ? "Labeled Use: " : "No Labeled use"%>
            <%=isLabeled ? "(" + data.drugs[each]["Label"]["method"] + " -": ""%>
            <%=isLabeled ? data.drugs[each]["Label"]["frequency"] + ")": ""%></span>

            <%=isLabeled ? data.drugs[each]["Label"]["notes"] : ""%>
        </div>
        <div class="col-1-of-3__drug col-1-of-3__drug--two">
          <div class="text-box">
            <% if (isLabeled) { %>
              <div class="drug__box--dosage">
                <% if (animal) { %>
                  <i class="fas fa-dog"></i>
                <%} else { %>
                  <i class="fas fa-cat"></i>
                <%}%> <br>
                <%=sameAmount ? sameAmount : minAmount + "-" + maxAmount%><br>
                <%=mg_kg ? "mg/kg" : "units/kg"%></div>
            <%}%>
          </div>
        </div>
        <div class="col-1-of-3__drug col-1-of-3__drug--three">
          <div class="text-box">
            <div class="text-box--tertiary">
              <%if (isLabeled) { %>
                <%=sameAmount ? "" : "Avg"%><br>
                <span class="drug__box--bold"><%=dosage%></span><br>
              <%=mg_kg ? "mg" : "units"%>/<%=Math.round(weight * 10)/10%>kg
            <%}%>
            </div>
          </div>
        </div>
      </div>

       <!-- Off Label Use -->

      <div class="row row__drug">
        <div class="col-1-of-3__drug col-1-of-3__drug--one col-1-of-3__drug--one-bottom">
          <span class="drug__box--secondary">
            <span class="text-bold"><%=isNLabeled ? "Off Label Use: " : "No off labeled usage"%>
            <%=isNLabeled ? "(" + data.drugs[each]["NLabel"]["method"] + " -": ""%>
            <%=isNLabeled ? data.drugs[each]["NLabel"]["frequency"] + ")": ""%></span>
            <%=isNLabeled ? data.drugs[each]["NLabel"]["notes"] : ""%>
        </div>
        <div class="col-1-of-3__drug col-1-of-3__drug--two">
          <div class="text-box">
            <% if (isNLabeled) { %>
                <% if (animal) { %>
                  <i class="fas fa-dog"></i>
                <%} else { %>
                  <i class="fas fa-cat"></i>
                <%}%> <br>
                <%=sameAmountN ? sameAmountN : minAmountN + "-" + maxAmountN%>
                 <%=mg_kgN ? "mg/kg" : "units/kg"%>
            <%}%>
          </div>
        </div>
        <div class="col-1-of-3__drug col-1-of-3__drug--three">
          <div class="text-box">
            <div class="text-box--tertiary">
              <%if (isNLabeled) { %>
                <%=sameAmountN ? "" : "Avg"%><br>
                <span class="drug__box--bold"><%=dosageN%></span><br>
              <%=mg_kgN ? "mg" : "units"%>/<%=Math.round(weight * 10)/10%>kg
            <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</section>
<input id="page_id" type="hidden" name="page_id" value=3>

<script src="script.js" type="text/javascript"></script>
